.info-container {
  border-radius: 5px; /* 任意の角丸のサイズを指定 */
  background-color: white;
  width: 438px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}
/* 
.button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5vh;
} */

.info-title {
  width: 338px;
  font-size: 28px;
  font-weight: bold;
}

.address {
  color: #707f89;
  font-size: 13px;
  margin: 12px 0 16px 0;
}

.telNum {
  font-weight: bold;
  font-size: 24px;
  margin-left: 12px;
}

table {
  border-collapse: collapse;
  border: solid 1px #cdd6dd;
}

table th {
  border-right: 1px solid #cdd6dd;
}

.sunday {
  color: #e23e5d;
  background: #f5f7f7;
}
.saturday {
  background: #f5f7f7;
  color: #2e6ee6;
}
.weekday {
  background: #f5f7f7;
}
