.introduction-container {
  background-color: white;
  margin-top: 24px;
  width: 520px;
  padding: 16px 16px 15px 16px;
}

.introduction-card {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.introduction-card img {
  width: 240px; /* イメージを親要素に合わせて表示 */
  height: 180px; /* アスペクト比を維持したままリサイズ */
  margin-right: 8px;
}

.introduction-card p {
  width: 240px; /* イメージを親要素に合わせて表示 */
}
